/**
 * Primary styles
 *
 * Author: 
 */

html, body { height:100%; background:#fafafa; }

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  font-family: 'AllerRegular', Helvetica, Arial, default;
  text-shadow: 0 1px #fff;
  -moz-text-shadow: 0 1px #fff;
  -webkit-text-shadow: 0 1px #fff;
}
b { font-weight:bold; }

hr { border-top:1px solid #DDD; }

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1 { font-size:16px; margin-bottom:14px; }
h2 { font-size:16px; margin-bottom:14px; }

a, a:active, a:visited { 
    color: #607890; 
    text-decoration:none;
}
a:hover { 
    color: #0081a5; 
    text-decoration:underline;
}

#logo {
	margin:70px 0px 36px 0px; 
	text-align:center;
	width: auto;
}

#header {
    border-bottom:1px solid lightgray;
    padding:4px 10px;
    height:22px;
} 

#header #logo {
    float:left;
}

#header h1 {
    font-size:20px;
} 

#header #side {
    text-align:right;
}

#container {
    width:640px;
    margin:auto;
}

#main {
    padding: 10px;
    text-align:center;
}

p { margin-bottom:10px; }

#table_details td {
    padding:2px 4px;
}
#table_details td.info {
    padding-top:6px;
}

/*
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff !important;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}.myButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
	text-decoration:none;
}.myButton:active {
	position:relative;
	top:1px;
}    
*/

#csspivot {
	padding:4px 10px 0px 10px;
	border-bottom:1px solid gray;
	font:13px/1.231 arial;
	text-align:left;
	color:#444;
	height:22px;
	/* Opera */
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDIzNywyMzcsMjM3LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMTk2LDE5NiwxOTYsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
	/* Firefox */
	background: -moz-linear-gradient( top, rgba(237,237,237,1), rgba(196,196,196,1) );
	/* Chrome & Safari */
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(237,237,237,1) ), color-stop( 1, rgba(196,196,196,1) ) );
	/* IE5.5 - IE7 */
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFEDEDED,EndColorStr=#FFC4C4C4);
	/* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFEDEDED,EndColorStr=#FFC4C4C4)";
	z-index: 9999;
}

#csspivot a {
	color:#444;
	text-decoration:none;
}

#csspivot a b {
	font-weight:bold;
}

#csspivot a:hover {
	text-decoration:underline;
}

#csspivot img {
	padding-left:2px;
	margin-top:2px;
}


#domain_pivots .pivot {
    float:left;
    width:240px;
    text-align:left;
}


#dialog_pivots li:hover { background:#fafade; }


#more {
    width:172px;
    text-align:left;
    position:absolute;
    left:200px;
    border:1px solid lightgray;
    border-bottom:0px solid white;
    background:#fafafa;
    margin-top:-1px;
    font-size:11px;
    color:#888;
}

#more p {
    margin-bottom:8px;
}

#more .navlink {
    display:block;
    padding: 6px 8px;
    border-bottom:1px solid lightgray;
    margin-bottom:0px;
}

#more a.navlink:hover {
    background:#fafade;
    text-decoration:none;
}

#more hr {
    margin:8px 0px;
}



h1.project_head {
   font-family: 'AllerRegular', Helvetica, Arial, default;
   font-size:23px;
   margin-top:5px;
   font-weight:normal;
}