<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1641412-31']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript">
var _sf_async_config={uid:20730,domain:"csspivot.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();
</script>


<div id="dialog_feedback" title="Feedback" style="display:none;">
	<div id='feedback-dialog-content'>
        <p>
            <textarea name="msg" rows="10" cols="50" name="feedback_text" id="feedback_text"></textarea>
        </p>
        {% if not prefs %}Your Email:<br>
            <p><input type="text" name="feedback_email" id='feedback_email' /></p>
        {% endif %}
        <p style='margin-top:14px;'>
            <input type="button" class='btn' value='submit' onclick='feedback_submit()' />
        </p>
	</div>
    <div style='padding:40px 0px 40px 90px; display:none;' id='feedback-dialog-content-wait'>
        <img src='/images/ajax-loader.gif' />
    </div>
	<div style='padding:40px 0px 40px 30px; display:none;' id='feedback-dialog-content-postsubmit'>
	   <span class='ui-icon ui-icon-star' style='float:left; margin:0 7px 20px 0;'></span>
	   Thank you for sharing!
	   <p style='margin-top:30px; padding-left:30px;'><input type='button' class='btn' value='close' onclick="$('#dialog_feedback').dialog('close');"/></p>
   </div>
</div>