{% extends "base.html" %}

{% block main %}

<p>
<h2><a href="/{{ pivot.id }}">http://csspivot.com/{{ pivot.id }}</a></h2>
<form action="/{{ pivot.id }}/details" method="post">
<input type="hidden" name="pivot_key" value="{{ pivot.key }}" />
<input type="hidden" name="project_key" value="{{ pivot.project.key }}" />
<input type="hidden" name="url" id="url" value="{{ pivot.project.url }}" />
<table id='table_details'>
    <tr>
        <td class='info'>URL:</td><td class='info'>{{ pivot.project.title }} {{ pivot.project.url }}</td>
<!--    </tr><tr>
        <td class='info'>Added:</td><td class='info'>{{ pivot.date_submitted }}</td>
-->
    </tr><tr>
        <td class='info'>CSS:</td><td><textarea name="css" id="css" rows="14" cols="50">{{ pivot.css }}</textarea></td>
    </tr><tr>
        <td class='info'>Comment:</td><td><input type="text" id="comment" name="comment" value="{{ pivot.comment }}" /></td>
    </tr><tr>
        <td></td><td><input type="button" onclick="preview()" value="Preview" /> <input type="submit" value="Save new pivot" /></td>
    </tr>
</table>
</form>
</p>

{% endblock %}