<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

<div id="csspivot" style="" role="navigation">
	<div class="menu-header">
    	<ul class="menu">
            <li><a href=" /"><img src="/images/pivot_box.png" alt="Pivot Box" /><b>CSS Pivot</b></a></li>
            {% if id %}<li><a href=" /{{ id }}"><b>{{ id }}</b></a></li>{% endif %}
            <li><a href="javascript:toggle_dialog()">view custom css</a></li>
            <li><a href="#">more</a>
                <ul>
                    <li><a class="navlink" href="javascript:pivot_toggleorig()" id="txt_showorig">Show original website</a></li>
                    <li><a class="navlink" href="/d/{{ pivot.domain.url_domain_base }}">{{ pivot.domain.pivot_count }} pivots for this domain</a></li>
                    <li><a class="navlink" href="#">Author: {% if pivot.userprefs %}{{ pivot.userprefs.nickname }}{% else %}-{% endif %}</a></li>
                    <li><a class="navlink" href="javascript:feedback()">Feedback</a></li>
                </ul>
            </li>
        </ul>
        <div class="social">
        	<ul>
                {% if prefs %}
                <li><a href="/account">{{ prefs.nickname }}</a></li>
                {% else %}
                <li><a href="/login?continue=/{{ id }}" title="A user account lets you manage your pivots and much more!">sign in</a></li>
                {% endif %}
                <li><a href="#">share</a>
                	<ul style="left: -98px;">
                    	<li>{% if id %}<a href="http://www.facebook.com/sharer.php?u=http://www.csspivot.com/{{ id }}" title="Share this pivot on Facebook" target="_blank">{% endif %}<p><img src="/images/fb{% if not id %}_gray{% endif %}.png" width="16" height="16" /> Facebook</p></a></li>
                        <li>{% if id %}<a href="http://twitter.com/home?status=CSS pivot for {{ url|truncate_chars:90 }}: http://www.csspivot.com/{{ id }}" title="Share this pivot on Twitter" target="_blank">{% endif %}<p><img src="/images/twitter{% if not id %}_gray{% endif %}.png" width="16" height="16" /> Twitter</p></a></li>
                        <li>{% if id %}<a href="http://forrst.com/posts/new?b=1&v=5&u=http://www.csspivot.com/{{ id }}&t=CSS%20pivot%20for%20{{ url }}" title="Share this pivot on Forrst">{% endif %}<p><img src="/images/forrst_green{% if not id %}_gray{% endif %}.png" width="16" height="16"/> Forrst</p></a></li>
                    </ul>
                </li>
        	<ul>
        </div>
    </div>
    
<div style="clear:both;"></div>
</div>  