{% extends "base.html" %}

{% block main %}
<script type="text/javascript">
function preview() {
    
}
</script>

<p>
<h2>Your Pivots</h2>
<ul>
{% for project in prefs.project_set %}
    <li>{{ project.url }}
    <ul>
    {% for pivot in project.pivot_set %}
        <li><a href="/{{ pivot.id }}">{{ pivot.id }} &middot; {{ pivot.comment }}</a></li>
    {% endfor %}
    </ul></li>
{% endfor %}

</ul>
</p>
<br>
<p>
<h2>New Pivot</h2>
<form action="/" method="post">
<table id='table_details'>
    <tr>
        <td class='info'>URL:</td><td><input type="text" id="url" name="url" value="{{ pivot.url }}" /></td>
    </tr><tr>
<!--        <td class='info'>Title:</td><td><input type="text" name="title" value="{{ pivot.title }}" /></td>
    </tr><tr>
-->
        <td class='info'>CSS:</td><td><textarea name="css" id="css" rows="14" cols="50">{{ pivot.css }}</textarea></td>
    </tr><tr>
        <td class='info'>Comment:</td><td><input type="comment" id="comment" name="comment" value="{{ pivot.title }}" /></td>
    </tr><tr>
        <td></td><td><input type="button" onclick="preview()" value="Preview" /> <input type="submit" value="Save new pivot" /></td>
    </tr>
</table>
</form>
</p>
{% endblock %}