{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">
function isUrl(s) {
 	var regexp = /http[s]?:\/\/[A-Za-z0-9\.-]{2,}\.[A-Za-z]{2,4}/;
 	return regexp.test(s);
}

$(document).ready(function() {
    document.getElementById("url").focus();
    $("#url").keydown(function(event) { $("#info_invalidurl").hide(); });
	$(".btn").button();

    $("#dialog_discover").dialog({ autoOpen: false });
    $("#dialog_pivots").dialog({ autoOpen: false, width:360 });
    $("#dialog_feedback").dialog({ autoOpen: false, width:450 });
});

function valid() {
    url = $("#url").val();
    if (url.indexOf("://") == -1)
        url = "http://" + url;
    if (!isUrl(url)) {
        $("#info_invalidurl").show();
        return false;
    }
}

function discover() {
    $("#dialog_discover").dialog("open");
}

var k = {% if prefs %}"{{ prefs.key }}"{% else %}""{% endif %};

</script>
{% endblock %}

{% block main %}
<p style="color:#777;">Add CSS styles to any website, and share the result with a short link</p>

<p style="color:#777;">Invite others to submit improvements for your website</p>

<form action="/preview" method="get" id="form_pivot" onsubmit="return valid()">
<div style="padding-left:26px; margin-top:60px;">
<div id="pivot" style="background:url(/images/inputshape2.png) top left no-repeat; width:605px; height:80px;">
    <input type="text" name="url" id="url" style="margin-top:10px; width:570px; padding-left:10px; height:46px; font-size:30px; border:0px solid white;" value="{% if invalid_url %}{{ invalid_url }}{% else %}http://{% endif %}" onfocus="this.value = this.value;" />
</div>
<div style="text-align:right; margin-top:3px;">

<div style="float:left; padding-left:185px; width:140px; text-align:left; {% if not invalid_url %}display:none;{% endif %}" id="info_invalidurl">
    <div class="ui-state-error ui-corner-all" style="padding: 4px 0px 4px .7em;">    				 
		<span class="ui-icon ui-icon-alert" style="float:left; padding-right:10px;"></span> Not a valid url
	</div>
    
</div>
    <input type="submit" value="Open URL"  class="btn"/>
</div>
</div>
</form>

<div style="margin-top:40px;"></div>


<hr style="width:40%; margin:auto;">

<!--
<div style="margin-top:20px; margin-bottom:20px">
<p><b>Active Websites</b></p>
    {% for project in recent_projects_5 %}
        <p><a href="/a/{{ project.id }}" title="{{ project.url }}">{{ project.url|strip:"http:"|strip:"/"|truncate_chars:26 }} &middot; {{ project.pivot_count }} pivot{{ project.pivot_count|pluralize }}</a></p>
    {% endfor %}
</div>

<hr style="width:40%; margin:auto;">
-->


<div style="margin-top:40px; margin-bottom:40px">
    {% if prefs %}
    <a href="/account" title="That's you!">{{ prefs.nickname }}</a>
    <div style="margin-top:20px;"><a href="javascript:discover()" class="btn">Discover Pivots</a></div>
    {% else %}
    <a href="/login?continue=/" class="btn" title="Lots of good stuff!" style="width:80px;">Sign In</a> 
    &nbsp;&nbsp;
    <a href="javascript:discover()" class="btn">Discover Pivots</a>
    &nbsp;&nbsp;
    <a href="/tour" class="btn" title="More infos on how this works" style="width:80px;">Tour</a> 
    {% endif %}
</div>

<hr style="width:40%; margin:auto;">


<div style="width:150px; margin:auto; margin-top:40px; margin-bottom:40px; text-align:center;">
    <div style="float:left;">
        <a href="http://twitter.com/share" class="twitter-share-button" data-counturl="http://www.csspivot.com" data-url="http://www.csspivot.com"  data-text="Modify and share the CSS of any website:" data-count="vertical" data-via="csspivot">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
    <div style="float:left; margin-top:2px; margin-left:40px;">
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.csspivot.com&amp;layout=box_count&amp;show_faces=false&amp;width=50&amp;action=like&amp;font&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:65px;" allowTransparency="true"></iframe>
    </div>
    <div style="clear:both;"></div>
</div>

<hr style="width:40%; margin:auto;">

<!-- <div style="margin:10px 0px; font-size:82%; color:#AAA;">{{ pivot_count }} pivots and counting</div> 
-->

<div style="margin-top:40px; font-size:92%; text-align:center;">
<a href="javascript:feedback()">Feedback</a> &middot; 
<a href="http://twofishcreative.com/michael/blog/2011/03/28/css-pivot-bookmarklet" target="_blank" rel="nofollow">Bookmarklet</a> &middot; 
<a href="https://convore.com/css-pivot/" target="_blank" rel="nofollow">Convore</a> &middot; 
<a target="_blank" href="http://twitter.com/csspivot" rel="nofollow" title="@csspivot on Twitter">@csspivot</a>
</div>

<div id="dialog_discover" title="Discover Pivots" style="display:none;">
    <div id="index" style="margin:10px 0px;">
        <ul>
            <li><a href="javascript:showpivots(0)">New pivots</a></li>
            <li><a href="javascript:showpivots(2)">New pivots with several changes</a></li>
            <li><a href="javascript:showpivots(4)">Recently viewed</a></li>
            <!--<li><a href="javascript:showpivots(1)">Pivots by domain</a></li>
            <li><a href="javascript:showpivots(3)">Most viewed</a></li>
            -->
        </ul>
        <hr>
        <ul>
            <li><a href="javascript:showpivots(1)">Examples</a></li>
            <!-- <li>Search for a domain</li> -->
        </ul>
        <hr>
        <ul>
            <li><a href="javascript:showpivots(30)">Active websites</a></li>
            <li><a href="javascript:showpivots(20)">Top domains</a></li>
            <!-- <li>Search for a domain</li> -->
        </ul>
    </div>
</div>

<div id="dialog_pivots" title="Pivots" style="display:none;">
    <div style="margin:10px 0px;" id="discover_pivotlist">
    </div>
</div>


<div id="_recent" style="display:none;"><ul>{% for pivot in recent %}<li><a href="/{{ pivot.id }}" title="{{ pivot.url }}"><code>{{ pivot.id }}</code></a> &middot; <small>{{ pivot.url|truncate_chars:26 }} &middot; {{ pivot.css|styles_count }} change{{ pivot.css|styles_count|pluralize }}</small>{% endfor %}</div>
<div id="_recent_projects" style="display:none;"><ul>{% for project in recent_projects %}<li><a href="/a/{{ project.id }}" title="{{ project.url }}"><code>{{ project.id }}</code></a> &middot; <small>{{ project.url|truncate_chars:26 }} &middot; {{ project.pivot_count }} pivot{{ project.pivot_count|pluralize }}</small>{% endfor %}</div>
<div id="_heavy" style="display:none;"><ul>{% for cnt,pivot in heavy %}<li><a href="/{{ pivot.id }}" title="{{ pivot.url }}"><code>{{ pivot.id }}</code></a> &middot; <small>{{ pivot.url|truncate_chars:26 }} &middot; {{ pivot.styles_count }} change{{ pivot.styles_count|pluralize }}</small>{% endfor %}</div>
<div id="_topdomains" style="display:none;"><ul>{% for domain in topdomains %}<li><a href="/d/{{ domain.url_domain_base }}">{{ domain.url_domain_base }}</a>: {{ domain.pivot_count }} pivot{{ domain.pivot_count|pluralize }}</small>{% endfor %}</div>
<div id="_examples" style="display:none;"><ul>
<li><a href="http://www.csspivot.com/49KP9">Metafilter Variation</a></li>
<li><a href="http://www.csspivot.com/163IX">Blog Readability</a></li>
<li><a href="http://www.csspivot.com/GMKAW">Reddit Pivot</a></li>
<li><a href="http://www.csspivot.com/0nF1j">Dribble Variation</a></li>
<li><a href="http://www.csspivot.com/rqAfu">Anon Google</a></li>
<li><a href="http://www.csspivot.com/PRGZ3">Light Hacker News</a></li>
<li><a href="http://www.csspivot.com/7ZJSo">Apple Image Fun</a></li>
</ul></div>

{% endblock %}