{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">
function isUrl(s) {
 	var regexp = /http[s]?:\/\/[A-Za-z0-9\.-]{3,}\.[A-Za-z]{2,4}/;
 	return regexp.test(s);
}

$(document).ready(function() {
    document.getElementById("url").focus();
    $("#url").keydown(function(event) { $("#info_invalidurl").hide(); });
	$(".btn").button();

    $("#dialog_discover").dialog({ autoOpen: false });
    $("#dialog_pivots").dialog({ autoOpen: false, width:360 });
});

function valid() {
    url = $("#url").val();
    if (url.indexOf("://") == -1)
        url = "http://" + url;
    if (!isUrl(url)) {
        $("#info_invalidurl").show();
        return false;
    }
}

function discover() {
    $("#dialog_discover").dialog("open");
}
</script>
{% endblock %}

{% block main %}
<p>Add CSS styles to any website and share the result!</p>

<form action="/preview" method="get" id="form_pivot" onsubmit="return valid()">
<div style="padding-left:26px; margin-top:40px;">
<div id="pivot" style="background:url(/images/inputshape2.png) top left no-repeat; width:605px; height:80px;">
    <input type="text" name="url" id="url" style="margin-top:10px; width:570px; padding-left:10px; height:46px; font-size:30px; border:0px solid white;" value="{% if invalid_url %}{{ invalid_url }}{% else %}http://{% endif %}" onfocus="this.value = this.value;" />
</div>
<div style="text-align:right; margin-top:3px;">

<div style="float:left; padding-left:185px; width:140px; text-align:left; {% if not invalid_url %}display:none;{% endif %}" id="info_invalidurl">
    <div class="ui-state-error ui-corner-all" style="padding: 4px 0px 4px .7em;">    				 
		<span class="ui-icon ui-icon-alert" style="float:left; padding-right:10px;"></span> Not a valid url
	</div>
    
</div>
    <input type="submit" value="open url" class="btn"/>
</div>
</div>
</form>



<div style="margin-top:50px;">
    {% if prefs %}
    <a href="/account" title="That's you!">{{ prefs.nickname }}</a>
    {% else %}
    <a href="/login?continue=/" class="btn" title="Lots of good stuff!" style="width:80px;">Sign In</a> 
    &nbsp;&nbsp;
    <a href="/tour" class="btn" title="Lots of good stuff!" style="width:80px;">Tour</a> 
    {% endif %}
</div>


<div style="margin-top:40px;">
<a href="javascript:discover()" class="btn">Discover Pivots</a>
</div>


<div style="width:150px; margin:auto; margin-top:60px; text-align:center;">
    <div style="float:left;">
        <a href="http://twitter.com/share" class="twitter-share-button" data-counturl="http://www.csspivot.com" data-url="http://www.csspivot.com"  data-text="Modify and share the CSS of any website:" data-count="vertical" data-via="csspivot">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
    <div style="float:left; margin-top:2px; margin-left:40px;">
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.csspivot.com&amp;layout=box_count&amp;show_faces=false&amp;width=50&amp;action=like&amp;font&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:65px;" allowTransparency="true"></iframe>
    </div>
    <div style="clear:both;"></div>
</div>

<!--
<div style="margin-top:50px; text-align:center;">
<a href="javascript:feedback()"><img src="/images/twitter_us.png" /></a>
</div>
-->


<div id="dialog_discover" title="Discover Pivots" style="display:none;">
    <div id="index" style="margin:10px 0px;">
        <ul>
            <li><a href="javascript:showpivots(0)">New pivots</a></li>
            <li><a href="javascript:showpivots(4)">Recently viewed</a></li>
            <li><a href="javascript:showpivots(1)">Selected Examples</a></li>
            <!--<li><a href="javascript:showpivots(1)">Pivots by domain</a></li>
            <li><a href="javascript:showpivots(2)">Heavy improvements</a></li>
            <li><a href="javascript:showpivots(3)">Most viewed</a></li>
            -->
        </ul>
    </div>
</div>

<div id="dialog_pivots" title="Pivots" style="display:none;">
    <div style="margin:10px 0px;" id="discover_pivotlist">
    </div>
</div>


<div id="_recent" style="display:none;"><ul>{% for pivot in recent %}<li><a href="/{{ pivot.id }}" title="{{ pivot.project.url }}">{{ pivot.id }}</a> &middot; <small>{{ pivot.project.url|truncate_chars:26 }} &middot; {{ pivot.css|styles_count }} style{{ pivot.css|styles_count|pluralize }}</small>{% endfor %}</div>
<div id="_examples" style="display:none;"><ul>
<li><a href="http://www.csspivot.com/GMKAW">Reddit Extended</a></li>
<li><a href="http://www.csspivot.com/0nF1j">Dribble Variation</a></li>
<li><a href="http://www.csspivot.com/Dlmtt">Dark Hacker News</a></li>
<li><a href="http://www.csspivot.com/014dy">Green Techcrunch</a></li>
</ul></div>

{% endblock %}