{% extends "base.html" %}

{% block header %}
    <style>
        #container { width:100%; background:#fafafa; }
        #main { padding:0px; }
    </style>
{% endblock %}

{% block head %}
  <title>CSS Pivot - {{ url }}</title>
  <meta name="description" content="CSS pivot for {{ url }}: {{ pivot.styles_count }} change{{ pivot.styles_count|pluralize }}">
{% endblock %}
  
{% block scripts %}
<script type="text/javascript">

function savepivot(new_file) {
    css = $("#csspivot_css").val();     
    if (css.length == 0) { alert("Please enter a style before saving"); return ; }
    if (css.indexOf("{") == -1 || css.indexOf("}") == -1) {
        alert("This doesn't look like valid css. Here is an example css: \n\n body { background:red; }");
        return ;
    }
    if (previewWindow) previewWindow.close(); 
    
    if (new_file)
        $("#csspivot_new").val("1");
    else
        $("#csspivot_new").val("{{ id }}");

    $("#csspivot_form").submit(); 
}

$(document).ready(function() {
    $("#iframe").height($("#container").height()-26);
    $(window).resize(function() { $("#iframe").height($("#container").height()-26); });

	$(".csspivot_btn").button();
    $("#csspivot_cssdialog").dialog({ 
        autoOpen: {% if showdialog %}true{% else %}false{% endif %},
        zIndex: 3999, 
        width: 500, 
        height:350, 
        resizable:false, 
        buttons: [
            { text: "Preview", click: function() { preview(true); }},
            {% if not prefs %}
                { text: "Update", disabled: true, title: "Please sign in to update your pivots", click: function() { }},
            {% else %}
                {% ifequal pivot.userprefs.key prefs.key %} { text: "Update", click: function() { savepivot(false); }},{% endifequal %}
            {% endif %}
            { text: "Save as new", click: function() { savepivot(true); }}
        ], resize: function(event, ui) { 
            h = document.getElementById("csspivot_cssdialog").style.height;
            h = parseInt(h.replace("px", ""));
            $("#csspivot_css").height(h-14);
        }
    });
    
    $(window).bind('keypress', "`", function (evt){
        if (evt.which == 96) { toggle_dialog(); return false; }
    });
    $(".ui-dialog").bind('keypress', "`", function (evt){ 
        if (evt.which == 96) { toggle_dialog(); return false; }
    });
    $(".ui-dialog-titlebar").bind('keypress', "`", function (evt){ 
        if (evt.which == 96) { toggle_dialog(); return false; }
    });
    $(".ui-dialog-titlebar").click(function (evt){ 
        $("#csspivot_css").focus();
        return false
    });
});

function toggle_dialog() {
    if ($("#csspivot_cssdialog").dialog("isOpen"))
        $("#csspivot_cssdialog").dialog("close");
    else
        $("#csspivot_cssdialog").dialog("open");
}

{% if id %}
    k = {% if prefs %}"{{ prefs.key }}"{% else %}""{% endif %};
    recent = localStorage.getItem("pivots_recentlyviewed" + k);
    if (!recent) recent = "";
    
    recent = "{{ id }}," + recent.replace("{{ id }},", "");
    localStorage.setItem("pivots_recentlyviewed" + k, recent);
    localStorage.setItem("pivots_recentlyviewed" + k + "_{{ id }}_cnt", "{{ css|styles_count }}");
    localStorage.setItem("pivots_recentlyviewed" + k + "_{{ id }}_url", "{{ url }}");
{% endif %}

function showcss() {
    $("#csspivot_cssdialog").dialog("open");
}

</script>
{% endblock %}

{% block main %}
{% include "headerbar.html" %}

<iframe src="/proxy?url={{ url }}&key={{ key }}" width="100%" height="100%" frameborder="0" noresize="0" name="proxy" id="iframe" scrolling="auto"></iframe>

<div id="csspivot_cssdialog" title="Custom Styles <small style='margin-left:80px; font-weight:normal;' title='add !important to overwrite all other definitions'><code>!important</code> is your friend</small>">
    <form action="/" method="post" id="csspivot_form">
        <input type="hidden" id="csspivot_url" name="csspivot_url" value="{{ url }}" />
        <input type="hidden" id="csspivot_orig" name="csspivot_orig" value="{{ id }}" />
        <input type="hidden" id="csspivot_comment" name="csspivot_comment" value="{{ comment }}" />
        <input type="hidden" id="csspivot_new" name="csspivot_new" value="0" />
        <textarea style="width:98%; height:222px; font-size:13px; font-family:monospace;" name="csspivot_css" id="csspivot_css">{{ css }}</textarea>
    </form>
</div>

{% endblock %}